# Data Science Tools and Ecosystem


In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**

List popular languages for Data Science
- Python
- R
- SQL

## Author
JunLing(Miya) Zhang

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow
5. Keras
6. PyTorch
7. Scikit-learn

#### Data Science Tools
|No. | Data Science Tools |
| ---| ------ |
| 1 | Python |
| 2 | R |
| 3 | SQL |
| 4 | Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
5*6

30

In [5]:
20%3

2

In [6]:
(2+3)*6

30

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

https://github.com/Miyaaaaa/ToolsforDataScience/blob/main/DataScienceEcosystem.ipynb